<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title>QR Code Scan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="scan-area">
    <div id="show-view" style="height: 20%">
        <p>Scan user's QR code to award loyality point</p>
    </div>

    <div style="height: 80%">
        <div style="margin:0px auto 0 auto; border: solid 1px darkgrey;
            border-radius: 5px; width: 220px; height: 220px;">
        </div>


    </div>
</ion-content>