
.scan-button {
    background-color: #ED7014;
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.go-button {
    background-color: #ED7014;
    border: none;
    color: white;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
}

ion-input{
    border: solid 1px darkgrey ;   
    border-radius: 5px;
}