<ion-header>
    <ion-toolbar>
        <ion-title>Kookie Merchant</ion-title>
        <ion-button slot="end" fill="clear" color="light" size="small" (click)="logout()"><ion-icon name="exit"></ion-icon>Sign Out</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Welcome <b>{{ merchantEmail }}</b></ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-center">            
            <ion-grid>
                <ion-row>
                    <ion-col size="8" offset="2">
                        Ready to scan a customer's QR code? Tap the button to start!
                    </ion-col>                       
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        <button class="scan-button">Scan QR Code</button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="12">
                        Or enter customer's user ID below: 
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="6" offset="1">
                        <ion-input class="user-code"  #userCodeInput type="number" placeholder="Enter Code here"></ion-input>
                    </ion-col>
                    <ion-col>
                        <button class="go-button" (click)="getUserByCode(userCodeInput.value)">Go</button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <!-- <ion-button class="scan-button" color="secondary" (click)="QRCodeScan()">Scan QR Code</ion-button> -->            
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Reward Claims</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
            No claim right now!
        </ion-card-content>
    </ion-card>
    
</ion-content>